{{ define "main" }}
<head>
    <link rel="stylesheet" href="{{ "css/default/projects.css" | relURL }}">
</head>
  <div class="gallery">
    {{.Content}}
    {{ range .Pages }}
      <div class="gallery-item">
        {{ with .Params.image }}
          <img src="{{ . | relURL }}" height="auto" width="20%">
        {{ else }}
          <p>No Image Available</p>
        {{ end }}

        {{ with .Params.title }}
        <a href="{{ $.Params.RelPermalink }}">{{ . }}</a>
        {{ end }}

        {{ with .Params.topic }}
          <p>creator: {{ . }}</p>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
