<link rel="stylesheet" href='/css/calendar/fullcalendar.css' rel='stylesheet' />
<link rel="stylesheet" href='/css/calendar/fullcalendar.print.css' rel='stylesheet' media='print' />

<script type="text/javascript" src='/js/calendar/moment.min.js'></script>
<script type="text/javascript" src='/js/calendar/jquery-3.1.0.min.js'></script>
<script type="text/javascript" src='/js/calendar/fullcalendar.min.js'></script>

<script type="text/javascript" src='/js/calendar/ical.min.js'></script>
<script type="text/javascript" src='/js/calendar/ical_events.js'></script>
<script type="text/javascript" src='/js/calendar/ical_fullcalendar.js'></script>

<script type="text/javascript" src='/js/calendar/calevents.js'></script>

<div id='calendar'></div>
<h4><a href="/ical/foulab.ics">Download iCalendar file</a></h4>
