/* Main Layout */

#main {
  display: flex;
  flex-direction: column;
  max-width: 890px;
  margin: 0 auto;
  box-shadow: 0px 0px 100px 25px rgba(0, 0, 0, .80);
}

#header {
  background-color: black;
  color: white;
  position: relative;
  height: 168px;
  background-image: url(../../img/header.png);
  border: solid #22180b;
  border-width: 0 1px;
  text-align: right;
  padding-top: 0px;
}

/* Wraps both the content (left) and the nav (right) */
#content-wrapper {
  flex: auto;
  display: flex;
  justify-content: space-between;
  border-left: 1px solid #22180b;
}

/* Left part of the page */
#content {
  background-color: #ffffff;
  color: #000000;
  font-size: 10pt;
  padding: 10px;
  flex-basis: 0;
  flex-grow: 999;
}

#nav {
  width: 150px;
  background-color: grey;
  border-left: 1px solid #22180b;
  padding: 10px;
  font-size: 10px;
  text-align: right;
  flex-basis: 150px;
  flex-grow: 1;
}

#footer {
  height: 49px;
  background-color: #333333;
  border: solid #22180b;
  border-width: 0 1px;
  margin: 0px;
  color: #ffffff;
  padding-top: 16px;
  text-align: center;
  font-size: 7pt;
  clear: both;
}

/* GL Animations */
#gl_canvas {
    width: 895px;
    height: 168px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    visibility: hidden;
}

#gl_canvas_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -5;
}

/* Header Content */

/* Icon links in the menu */
.tinybar {
    margin: 0;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 2;
}

.tinybar a:active, .tinybar a:link, .tinybar a:visited {
    color: white;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.tinybar img.icons {
    height: 20px;
    width: 20px;
    transition: height .15s, width .15s;
}

.tinybar img.icons:hover {
    height: 35px;
    width: 35px;
    transition: height .15s, width .15s;
}

#status {
  z-index: 2;
  position: absolute;
  right: 2em;
  height: 50px;
  width: 150px;
  margin: 30px 0px 10px 0px;
  color: #eee;
  text-align: center;
  visibility: hidden;
}

/* Main area of the page */

.content-headline {
  width: 100%;
  border-bottom: 1px black solid;
  font-variant: small-caps;
  font-size: xx-large;
  margin-bottom: 20px;
}

/* Headings inside the main area */
#content ul {
  margin-top: 0;
}
#content h3 {
  font-size: 12pt;
  font-weight: bold;
}

#content .ntitle {
  color: #960000;
  font-weight: bold;
  font-size: 14pt;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}

#content .ntrace {
  font-size: 8pt;
  font-family: monospace;
  color: #777777
}

/* Links inside the main area */
#content a {color: #960000;}
#content a:hover {color: #ff0000;}

/* Style for the menu list */
#nav ul li {
    color: white;
    text-align: left;
    font-size: small;
    padding-left: 5px;
    transition: background-color .25s linear, padding-left .15s;
}

#nav li:hover {
    background-color: #bbbb;
    padding-left: 10px;
}

/* Menu title color */
#nav h4 {
    color: white;
    border-bottom: 1px solid #4a4a4a;
    margin-bottom: 1em;
    text-align: right;
}

#nav h4:not(:first-child) {
    margin-top: 1.5em;
}

#nav a:active, #nav a:link, #nav a:visited {
    display: block;
    color: white;
    font-weight: normal;
    font-size: 12pt;
    text-decoration: none;
}

#nav section {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-direction: column;
}

#patreon-button {
  display: inline-block;
  font-family: sans-serif;
  background: #e6461a;
  color: white;
  padding: 3px 15px 3px 15px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  user-select: none;
  border: 1px solid #e6461a;   
}

/* Footer */

#footer a:link, #footer a:active, #footer a:visited {
    color: #cccccc;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}


/* Module: edit */
div#wikiedit {
    width: 635px;
    text-align: left;
    margin: auto;
}

div#wikiedit span.title {
  font-size: x-large;
}

div#wikiedit input.title {
  width: 630px;
}

div#wikiedit textarea.text {
  width: 630px;
  height: 260px;
}
/* End Module: edit */


/* Module: wiki */

/* Adds a default style for tables in the wiki */
table.wikitable {
  border: 1px #b0b0b0 solid;
}

table.wikitable tr {
  text-align: center;
}

table.wikitable tr td,
table.wikitable tr th {
  border: 1px #d0d0d0 solid;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Adds an icon to the end of any external link in the wiki */
a.wikilink_external {
  background: url(../images/external.png) no-repeat 100% 50%;
  padding-right: 13px;
}
/* End Module: wiki */

/* Module: admin */
span.username {
    font-size: x-large;
    font-weight: bold;
    color: #5c5f2b;
}
span.useroptions a {
    color: #5c5f2b;
    font-weight: normal;
}

span.acl,
span.perms {
    color: #7c7e5a;
}

span.acl form,
span.perms form {
    margin-left: 20px;
}

span.adduser {
    color: #7c7e5a;
}

input.address { width: 150px; }
input.permission { width: 150px; }
span.mask { font-size: smaller; }

.smallinput {
    border: 1px #5c5f2b solid;
    background-color: #f0f0f0;
    color: #7c7e5a;
    width: 200px;
}

.mediuminput {
    border: 1px #5c5f2b solid;
    background-color: #f0f0f0;
    color: #7c7e5a;
    width: 400px;
}

span.aclentry { padding-right: 10px; }
span.permission { padding-right: 10px; }

/* End Module: admin */


div.warningbox {
    padding: 10px;
    border: 1px #b80000 solid;
    background-color: #dcb7b7;
    font-weight: bold;
}

#icons {
  height: 25px;
  width: 25px;
  text-decoration: none;
}
