
/* Overall Styles */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #adadad;
}

/* Default style for headers */
h2 {
	color: #000000;
	font-weight: bold;
	font-size: 14pt;
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;
}

h3 {
	color: #000000;
	font-weight: normal;
	font-size: 7pt;
	padding: 0px;
	margin: 0px;
}

h4 {
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}

h5 {
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	padding: 0px;
	margin: 0px;
}

/* Default style for lists */
li {
	padding: 0px;
	margin-right: 0px;
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 0px;
}

/* Default style for list items */
ul {
	padding: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 20px;
	margin-bottom: 10px;
	list-style: square outside url("../../img/bullet.gif")
}

/* Remove borders, margins and all */
img {
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

/* Default style for the separator line */
hr {
  height: 1px;
	background-color: #808080;
	border: 0px;
}

/* No decoration on links */
a {
	color: #15007b;
	text-decoration: none;
}

/* Underline hovered links */
a:hover {
	color: black;
	text-decoration: none;
}

/* Default style for paragraph */
p {
	margin: 0px;
	margin-bottom: 15px;
	margin-right: 20px;
	text-align: justify;
	padding: 0px;
}

/* Remove border from images inside a link */
a img {
    border: 0px;
}
