.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
}

.gallery-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  background: #f9f9f9; 
  padding: 10px;
}

.gallery-item img {
  width: 100%;
  max-width: 15vw; 
  height: auto;
}

.text-item {
  text-align: left;
  margin-top: 10px;
  align-self: flex-start;
  /* aligns text to the left of the area not just left aligned */
}

.gallery-item:hover {
  background-color: rgb(227, 226, 226)
}





