.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
}

.gallery-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  background: #f9f9f9; 
  padding: 10px;
  width: 95%; 
  height: 280px;
  position: relative; 
  /* relative positioning so that text can be positioned in the bottom right hand side */
}

.gallery-item img {
  width: 70%;
  object-fit: cover;
  height: auto;
  max-height: 200px; 

}

.text-item {
  text-align: left; 
  position: absolute; 
  /* absolute positioning in reference to gallery-item */
  bottom: 0; 
  left: 0;
  margin: 10px;
}

.gallery-item:hover {
  background-color: rgb(227, 226, 226)
}





