<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="utf-8">
	  <title>{{ block "title" . }}{{ default .GitInfo.Subject .Title | default "Welcome to Foulab! - foulab.org" }}{{ end }}</title>
    
    <link rel="stylesheet" href="/css/default/default.css">
    <link rel="stylesheet" href="/css/default/app.css">
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <meta property="og:image" content="/img/logo.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1124">
    <meta property="og:image:height" content="1126">
    <script type="module" src="/js/status.js"></script>
    <script src="/js/sparkles/twgl-full.min.js"></script>
    <script src="/js/sparkles/static.js"></script>
    <script src="/js/sparkles/clouds.js"></script>
    <script src="/js/sparkles/init.js" defer></script>
  </head>

  <body>
    <canvas id="gl_canvas_bg"></canvas>
    <div id="main">
      {{ partial "header.html" . }}
      <div id="content-wrapper">
        <div id="content">
          <div class="content-headline">
            {{ block "headline" .}}<b>{{ index .Params "topic" | default "foulab.org" }}</b> / {{ index .Params "headline" | default "Welcome to Foulab!" }}{{ end }}
          </div>
          {{ block "main" . }}{{ end }}
        </div>
        {{ partial "navigation.html" . }}      
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "wisdom.html" . }}

  </body>
</html>
