<div id="header">
  <canvas id="gl_canvas"></canvas>

  <div id="status">
    STATUS
    <span style="font-size:8px;font-family:monospace;white-space:pre;">
 ██████  ██████  ███████ ███    ██
██    ██ ██   ██ ██      ████   ██
██    ██ ██████  █████   ██ ██  ██
██    ██ ██      ██      ██  ██ ██
 ██████  ██      ███████ ██   ████
    </span>
  </div>

  <div class="tinybar">

    <a href="https://github.com/FOULAB" title="Foulab GitHub">
      <img class="icons" src="/img/git.png" alt="Link to Foulab GitHub">
    </a>
    <a href="https://web.libera.chat/?channels=#foulab" title="IRC Webchat">
      <img class="icons" src="/img/irc.png" alt="Link to IRC Webchat">
    </a>
    <a href="https://twitter.com/foulab" title="Twitter">
      <img class="icons" src="/img/twt.png" alt="Link to Twitter">
    </a>
    <a href="/news/index.xml" title="RSS Feed">
      <img class="icons" src="/img/rss.png" alt="Link to RSS Feed">
    </a>
    <a href="mailto:friends.of.foulab-subscribe@lists.riseup.net" title="Mailing List">
      <img class="icons" src="/img/eml.png" alt="Link to Mailing List">
    </a>
    <a href="https://www.facebook.com/groups/144161830009" title="Facebook Group">
      <img class="icons" src="/img/fb.png" alt="Link to Facebook Group">
    </a>

  </div>

</div>
