      <div class="header">
	<canvas id="gl_canvas"></canvas>
	
	<div class="tinybar">
	  
	  <span>
	    <a href="https://github.com/FOULAB" title="Foulab GitHub">
	      <img id="icons" src="{{ .Site.BaseURL }}/img/git.png"/>
	    </a>
	    <a href="https://webchat.freenode.net/?channels=#%23foulab" title="IRC Webchat">
	      <img id="icons" src="{{ .Site.BaseURL }}/img/irc.png"/>
	    </a>
	    <a href="https://twitter.com/foulab" title="Twitter">
	      <img id="icons" src="{{ .Site.BaseURL }}/img/twt.png"/>
	    </a>
	    <a href="{{ .Site.BaseURL }}/news/index.xml" title="RSS Feed">
	      <img id="icons" src="{{ .Site.BaseURL }}/img/rss.png"/>
	    </a>
	    <a href="mailto:friends.of.foulab-subscribe@lists.riseup.net" title="Mailing List">
	      <img id="icons" src="{{ .Site.BaseURL }}/img/eml.png"/>
	    </a>
	    <a href="{{ .Site.BaseURL }}/calendar/" title="Event Calendar">
	      <img id="icons" src="{{ .Site.BaseURL }}/img/cal.png"/>
	    </a>
	  </span>
	  
	</div>
	
      </div>
      
