	<div class="nav">
	  
	  <h4>MENU</h4>

	  <hr />
	  <ul>
	    <li><a href="{{ .Site.BaseURL }}/" title="Home">Home</a></li>
	    <li><a href="{{ .Site.BaseURL }}/news/" title="Foulab News">News</a></li>
	    <li><a href="{{ .Site.BaseURL }}/projects/" title="Projects">Projects</a></li>
	    <li><a href="{{ .Site.BaseURL }}/exposition/" title="The Lab">The Lab</a></li>
	    <li><a href="{{ .Site.BaseURL }}/about/" title="About Foulab">About Foulab</a></li>
	    <li><a href="{{ .Site.BaseURL }}/location/" title="Getting Here">Getting Here</a></li>
	    <li><a href="{{ .Site.BaseURL }}/contact/" title="Contact Foulab">Contact Foulab</a></li>
	    <li><a href="{{ .Site.BaseURL }}/calendar/" title="Event Schedule">Event Schedule</a></li>
	  </ul>
	  
	  <div id="status">
	    STATUS
	    <span style="font-size:6px;font-family:monospace;white-space:pre;">
 ██████  ██████  ███████ ███    ██
██    ██ ██   ██ ██      ████   ██
██    ██ ██████  █████   ██ ██  ██
██    ██ ██      ██      ██  ██ ██
 ██████  ██      ███████ ██   ████
	      </span>
	  </div>
	  
	  <h4>SUPPORT FOULAB</h4>
	  
	  <hr />
	  <center>
	    <div data-embed_type="product" data-shop="laboratoires-foulab.myshopify.com" data-product_name="Thank You from Foulab!" data-product_handle="thank-you-from-foulab" data-has_image="false" data-display_size="compact" data-redirect_to="cart" data-buy_button_text="Donate!" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-button_background_color="7db461" data-button_text_color="ffffff" data-product_modal="false" data-product_title_color="000000" data-next_page_button_text="Next page">
	    </div>
	    <script type="text/javascript" defer>
	      document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript" defer><\/script>');
	      </script>
	      <noscript><a href="https://laboratoires-foulab.myshopify.com/cart/23379616707:1" target="_blank">Buy Thank You from Foulab!</a></noscript>
	  </center>
	      
	</div>
	
	<div class="clear"></div>
