	<div class="nav" id="slider">
	  
	  <h4>MENU</h4>

	  <hr />
	  <ul>
	    <li><a href="{{ .Site.BaseURL }}/"            title="Home">          &nbsp;Home</a></li>
	    <li><a href="{{ .Site.BaseURL }}/news/"       title="Foulab News">   &nbsp;News</a></li>
	    <li><a href="{{ .Site.BaseURL }}/projects/"   title="Projects">      &nbsp;Projects</a></li>
	    <li><a href="{{ .Site.BaseURL }}/exposition/" title="The Lab">       &nbsp;The Lab</a></li>
	    <li><a href="{{ .Site.BaseURL }}/about/"      title="About Foulab">  &nbsp;About Foulab</a></li>
	    <li><a href="{{ .Site.BaseURL }}/location/"   title="Getting Here">  &nbsp;Getting Here</a></li>
	    <li><a href="{{ .Site.BaseURL }}/contact/"    title="Contact Foulab">&nbsp;Contact Foulab</a></li>
	    <li><a href="{{ .Site.BaseURL }}/calendar/"   title="Event Schedule">&nbsp;Event Schedule</a></li>
	  </ul>
	  
		<br/>
	  <h4>SUPPORT FOULAB</h4>
	  
	  <hr />
	  <br />
	  <center>
	    <a target="_blank" href="https://www.zeffy.com/embed/donation-form/e5a7fb19-5a42-41fe-b5e7-1125a61173bf">
	      <img height=20 src="{{ .Site.BaseURL }}/img/zeffy_button.svg"/>
	    </a>
	  </center>

		<br/><br/>
		<h4 style="text-align: center">SPONSORED BY</h4>
		<hr />
		<center>
		<br/>
		{{ if .IsHome }}<a href="https://usedservers.ca" target="_blank">{{ end }}<img src="{{ .Site.BaseURL }}/img/usedservers.png" alt="Used Servers" style="width:100%; background-color:white; border-radius:3px;">{{ if .IsHome }}</a>{{ end }}
		
		<br/>
		{{ if .IsHome }}<a href="https://canservers.com" target="_blank">{{ end }}<img src="{{ .Site.BaseURL }}/img/canservers.svg" alt="Canadian Servers" style="width:100%; background-color:white; padding: 4px 0px 4px 0px; border-radius: 3px">{{ if .IsHome }}</a>{{ end }}
		</center>
	      
	</div>
	
	<div class="clear"></div>
